.btn{
    background-color: #3b82f6;
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
    font-size: 1.2em;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;

    &:hover{
        scale: 1.05;
        box-shadow: 1px -1px 7px 6px rgba(205,217,237,0.39);
        -webkit-box-shadow: 1px -1px 7px 6px rgba(205,217,237,0.39);
        -moz-box-shadow: 1px -1px 7px 6px rgba(205,217,237,0.39);
        background-color: #5c8ad4;
    }

    &--store{
        background: rgb(30,59,140);
        background: linear-gradient(264deg, rgba(30,59,140,1) 21%, rgba(58,126,241,1) 68%);
    }
}