body{
    footer{
        margin-top: 2em;
        border-top: 1px solid #192231;
        ul{
            display: flex;
            justify-content: center;
            li{
                font-size: 12px;
                padding: 2em 1em;
            }
        }
    }
}    