
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
    footer{
        width: 100%;
        margin-top: auto;
        border-top: 1px solid #192231;

        ul{
            display: flex;
            justify-content: center;
            li{
                font-size: 12px;
                padding: 2em 1em;
            }
        }
    }
 