.form{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    border: 2px solid #192231;
    gap: 1rem;
    
    width: 80%;
    padding: 1em 0;
    div{
        width: 100%;
        display : flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        label{
            color: #e5e7eb;
        }
        input{
            background-color: #3b82f6;
            color: #e5e7eb;
            border: none;
            font-family: 'Roboto', sans-serif;

        }
        #zipCode{
            -moz-appearance: textfield;
 
            /* Chrome */
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin:0;
            }
         
            /* Opéra*/
            &::-o-inner-spin-button {
                -o-appearance: none;
                margin: 0; 
            }
        }
        
    }
}

@media only screen and (min-width:612px){
    .form{
        width: 35%;
        div{
            width: 100%;
        }
    }
}

@media only screen and (min-width:1024px){
    .form{
        width: 60%;
        div{
            width: 100%;
        }
    }
}