nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #192231;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111827;
    z-index: 100000;

    div{
        display: flex;
        align-items: center;
        gap: 5px;

        ul{
            display: flex;
            gap: 8px;
        }

        h5{
            font-weight: 700;
            font-size: 1.5em;
            margin-left: 3em;
        }
    }
}

.navbar_right {
    margin-right: 3em;
}

.nav_link {
    font-weight: 500;
}